# Frontend Design: {{projectName}}

## UI Komponenten

{{#features}}
### {{title}}
{{#stories}}
- {{title}}{{#description}}: {{description}}{{/description}}
{{/stories}}

{{/features}}

## Tech-Stack
{{techStack}}
