# Frontend Design: {{projectName}}

{{#frontendContent}}
{{{frontendContent}}}

{{/frontendContent}}
## UI Komponenten

{{#features}}
### {{title}}
{{#stories}}
- {{title}}{{#description}}: {{description}}{{/description}}
{{/stories}}

{{/features}}

## Tech-Stack
{{techStack}}
